



.solutions-menu__pseudo {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(66, 71, 112, 0.09) 0%, rgba(66, 71, 112, 0.09) 50%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.00) 100%);
}